/* ----------------------------------

Name: main.css
Version: 1.0.o

-------------------------------------

Table of contents
        
    01. Navbar
    
*/


form input{
    border-radius: 15px;
}
